<div class="contact-component">
    <h3>Need talk with us</h3>

    <div class="contact-box">

        <div class="info-user">
            <input type="text" placeholder="name">

            <div class="phone-email">
                <input type="text" placeholder="email">
    
                <input type="text" placeholder="number">
            </div>
    
            <div class="message-box">
                <textarea  placeholder="Sua mensagem*"></textarea>
            
                <button>Send your message </button>
            </div>
        </div>
        

        <div class="contact-info">
            <div class="box-info">
                <fa-icon [icon]="phoneIcon"></fa-icon>
                <h3>Phone Number</h3>
                <h5>55 0 0000-0000</h5>
            </div>

            <div class="box-info">
                <fa-icon [icon]="whatsAppIcon"></fa-icon>
                <h3>Whatsapp</h3>
                <h5>55 0 0000-0000</h5>
            </div>

            <div class="box-info">
                <fa-icon [icon]="openingIcon"></fa-icon>
                <h3>Opening hours</h3>
                <h5>55 0 0000-0000</h5>
            </div>

            <div class="box-info">
                <fa-icon [icon]="envelopeIcon"></fa-icon>
                <h3>email</h3>
                <h5>sac@CoffeStore.com.br</h5>
            </div>
            
        </div>
    </div>

</div>
