@import "/src/assets/styles/GeneralStyles.scss";

.strong {
    color: $Caramel;
}

.about-component {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0 auto;
    font-size: 3rem;
}

.hidden-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-right {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.hidden-top {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s;
}

.hidden-down {
    opacity: 0;
    transform: translateY(200%);
    transition: all 1s;
}

.on {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
}

.about-tradiction {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #272424;

    h1 {
        font-size: 8rem;
        line-height: 145px;
        width: 85%;
        color: #d89657;
    }
}

.about-years-history {
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: #272424;

    .about-year-history-content {
        text-align: start;
        width: 50%;
        height: 100%;
        margin: 5% 3%;

        h1 {
            color: #d89657;
            font-size: 70px;
            width: 100%;
            line-height: 75px;
            text-align: center;
        }

        p {
            margin-top: 3%;
            text-align: start;
            font-size: 29px;
            font-weight: 800;
            padding-top: 15px;
            color: #6c6a6b;
        }
    }
}

strong {
    color:  #d89657;
}

.about-production-localizaction {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll, local;
    background: #302d2d;

    .about-region-box {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: #fff;
        }

        .region:nth-child(1) {
            h1 {
                font-size: 3rem;
                width: 100%;
            }
        }

        .region:nth-child(2) {
            h1 {
                font-size: 7rem;
                line-height: 105px;
            }
        }
    }

    .about-know {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;

        h1 {
            color: #fff;
        }

    }
}

.about-production-localizaction-history {
    height: 80vh;
    width: 100%;
    background: #272424;
    display: flex;
    justify-content: space-between;

    .about-production-localizaction-history-text {
        height: 100%;
        width: 45%;

        p {
            margin-left: 5%;
            margin-top: 3%;
            width: 100%;
            height: 30%;
            text-align: start;
    
            font-size: 29px;
            font-weight: 800;
            padding-top: 15px;
            color: #6c6a6b;;
        }
    }

    .about-production-localization-img {
        height: 90%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 320px;
            width: 655px;
            transition: 600ms;
            cursor: pointer;
        }

        img:hover {
            transition: 600ms;
            transform: scale(120%);
        }
        
    }
}

.about-pure-coffee {
    height: 100vh;
    width: 100vw;
    display: flex;

    .about-pure-image {
        height: 100%;
        width: 50%;
        background-position: center;
        background-size: cover;
        background: #cc8a5a;
    }

    .about-pure-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 50%;
        background: #272424;

        h1 {
            width: 60%;
            margin-top: 3%;
            color: #Fff;
        }

        p {
            margin-top: 4%;
            width: 60%;
            font-size: 23px;
            font-weight: 800;
            color: #6c6a6b;
        }
    }
}

.about-go-to-store {
    height: 450px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #272424;;
    
    h1 {
        width: 435px;
        line-height: 50px;
        font-size: 3.5rem;
        color: #fff;;
    }

    button {
        margin: 0% 30% 0 0;
        cursor: pointer;

        padding: 5px 5px;
        background: #cc8a5a;
        border: 0px solid transparent;
        border-radius: 50px;
        color: #Fff;
        font-weight: 700;
    }
    button:hover {
        transition: all 0.3s;
        background: #a0948d;
    }
}