<div class="about-component">
    <div class="about-tradiction">
        <h1 class="hidden-left">The coffee tradition</h1>
        <h1 class="hidden-right">runs in our veins</h1>
    </div>

    <div class="about-years-history">
        <div class="about-year-history-image"></div>

        <div class="about-year-history-content">
            <h1 class="hidden-top">For 70 years our family has mastered the art of making coffee.</h1>

            <p>
                Since 1953, our family has been producing high quality coffee, cultivating love and knowledge from generation to generation.
            </p>

            <p>
                Motivated by this tradition, together with the desire to provide the experience of a pure coffee, without mixtures and with a lot of flavor, Iá Café was born.
            </p>

            <p>
                <strong>
                    For us, coffee is the beginning of a new day, the first moment with ourselves.
                    It's energy, it's flavor, it's intensity, it's life!
                </strong>
            </p>

            <p>
                Iá Café is a commitment to quality and purity, the best coffee for your everyday moments.
            </p>


        </div>

    </div>

    <div class="about-production-localizaction">

        <div class="about-region-box">
            <div class="region">
                <h1 class="hidden-left">Respect <strong>#Region</strong></h1>
            </div>

            <div class="region">
                <h1 class="hidden-right"> Alta <strong>Morgiana</strong></h1>
            </div>
        </div>

        <div class="about-know">
            <h1 class="hidden-down">
                known as
                produce a
    
                <strong>
                    The best
                    world cafes
                </strong>
            </h1>
        </div>

    </div>

    <div class="about-production-localizaction-history">

        <p>
            Known worldwide for the production of high quality coffees, Alta Mogiana, located on the border between
            Minas Gerais and São Paulo have cultivated coffee for over 200 years.
        </p>

        <p>
            What makes this region so special is its altitude, which varies between 900 and 1000 meters, its soil rich in nutrients
            and its mild temperature, which in addition to favoring the cultivation of noble grains, allows for better fruit maturation, the
            that determines the quality and complex flavors of coffee.
        </p>
    </div>

    <div class="about-pure-coffee">
        <div class="about-pure-image">
            
        </div>

        <div class="about-pure-content">
            <h1 class="hidden-right">Better than being <strong>100% Arabica</strong>, is to be <strong>100% coffee</strong>.</h1>

            <p>
                Being 100% coffee is the guarantee of consuming the best of the drink, free of impurities and with selected beans.              
            </p>

            <p>
                The Arabica bean from the Alta Mogiana region is considered by specialists to be one of the best coffees in the world.
            </p>

            <p>
                In addition, iá café has selection, roasting and grinding processes as noble as its origin, following the legacy of a coffee family.
            </p>

            <p>
                Live the experience of a pure coffee, without mixtures and with a lot of flavor.
            </p>

        </div>

    </div>

    <div class="about-name-history">

    </div>

    <div class="about-go-to-store">
        <h1 class="hidden-left">Is Time of Prove The Real <strong>Pure Coffee.</strong></h1>

        <button class="hidden-top" [routerLink]="['/store']">Store</button>
    </div>

</div>
