<div class="footer-container">
    <div class="footer-box-info">


        <div class="footer-box">
            <div class="info-footer">
                <h3>About us CoffeShop</h3>
    
                <ul>
                    <i><fa-icon [icon]="gearIcon"></fa-icon></i>
                    <i><fa-icon [icon]="employeesIcon"></fa-icon></i>
                    <i><fa-icon [icon]="industry"></fa-icon></i>
                </ul>
            </div>
            <div class="info-footer">
                <h3>info</h3>
                <li [routerLink]="['/about']">About</li>
                <li [routerLink]="['/contact']">Contact</li>
                <li [routerLink]="['policy-of-privacy']">Privacy Policy</li>
                <li [routerLink]="['policy-of-privacy']">refund policy</li>
                <li [routerLink]="['policy-of-privacy']">exchange policy</li>
            </div>
            <div class="info-footer">
                <h3>Blog</h3>
    
                <li>Coffee Pairing: Learn More</li>
                <li>Tips for setting up your coffee corner</li>
                <li>Steamed Milk: different ways to make it at home</li>
    
            </div>
        </div>

    </div>

</div>
