<div class="footer-container">
    <div class="footer-box-info">


        <div class="footer-box">

            <div class="info-footer">
                <h3>Explore</h3>
    
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="info-footer">
                <h3>info</h3>
                <li [routerLink]="['/about']"></li>
                <li [routerLink]="['/contact']"></li>
                <li [routerLink]="['policy-of-privacy']"></li>
                <li [routerLink]="['policy-of-privacy']"></li>
                <li [routerLink]="['policy-of-privacy']"></li>
            </div>


            <div class="info-footer">
                <h3>Blog</h3>
    
                <li></li>
                <li></li>
                <li></li>
    
            </div>

            <div class="info-footer">
                <h3>About us</h3>
    
                <li></li>
                <li></li>
                <li></li>
    
            </div>

            <div class="info-footer">
                <h3>Help & FAQs</h3>
    
                <li></li>
                <li></li>
                <li></li>
    
            </div>
        </div>

    </div>

</div>
