.blog-component {
    width: 100vw;
    display: flex;
    margin: 0 auto;
}

.blog-grid {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 640px 640px;
    gap: 30px;
    height: 80%;
    width: 85%;
    margin-top: 3%;
}

.blog-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        padding: 15px;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4em;
    }

    p {
        font-size: 13px;
        color: #b3b3b3;
    }

    span {
        padding: 5px;
        color: #f7b07d;
        text-align: center;
    }

    .blog-img {
        background: url('/assets/img/BlogHarmonization.webp');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 260px;;
        width: 100%;
    };
}

.blog-card:nth-child(2) {
    .blog-img {
        background: url('/assets/img/BlogTestingCoffe.webp');
        background-size: cover;
        background-position: center;
        height: 260px;
        width: 100%;
    }
}

.blog-card:nth-child(3) {
    .blog-img {
        background: url('/assets/img/BlogMilkECoffe.webp');
        background-size: cover;
        background-position: center;
        height: 260px;
        width: 100%;
    }
}

.blog-card:nth-child(4) {
    .blog-img {
        background: url('/assets/img/BlogSensorialNotes.webp');
        background-size: cover;
        background-position: center;
        height: 260px;
        width: 100%;
    }
}

.blog-card:nth-child(5) {
    .blog-img {
        background: url('/assets/img/BlogCoffeBeneficts.webp');
        background-size: cover;
        background-position: center;
        height: 260px;
        width: 100%;
    }
}

.blog-card:nth-child(6) {
    .blog-img {
        background: url('/assets/img/BlogCoffeArabica.webp');
        background-size: cover;
        background-position: center;
        height: 260px;
        width: 100%;
    }
}
