<div class="blog-component">
    <div class="blog-grid">
        <div class="blog-grid-content">

            <div class="blog-card">

                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>Coffee Pairing: Learn More</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        Pairing coffee with food is an art in itself. There's nothing more enjoyable than delicious coffee.
                        accompanied by a dish that perfectly matches the taste and aroma of the drink.
                    </p>
                </div>

                <span>Keep Reading</span>


            </div>

            <div class="blog-card">
                
                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>Tips for setting up your coffee corner</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        There's no denying that coffee is one of the great passions of Brazilians, right?
                        It is part of our routine, whether to wake up in a good mood, or simply to enjoy a break in the middle of the day
                        and have that fresh cup of coffee.
                    </p>
                </div>

                <span>Keep Reading</span>

            </div>
            

            <div class="blog-card">
                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>Steamed Milk: different ways to make it at home</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        Steamed milk is an essential ingredient in many recipes for drinks made with coffee, such as cappuccino or latte.
                    </p>
                </div>

                <span>Keep Reading</span>
            </div>


            <div class="blog-card">
                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>Understand what Sensory Notes are</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        Sensory notes are characteristics perceived by the senses when trying a food or drink, such as taste, aroma, texture and appearance.
                    </p>
                </div>

                <span>Keep Reading</span>
                
            </div>


            <div class="blog-card">
                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>The health benefits of coffee</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        We know that coffee is one of the most consumed drinks in Brazil, but do you already know the benefits that this beloved drink provides for our health?
                    </p>
                </div>

                <span>Keep Reading</span>

            </div>


            <div class="blog-card">
                <div class="blog-img"></div>

                <div class="blog-title">
                    <h1>What is 100% Arabica coffee? Understand.</h1>
                </div>

                <div class="blog-preview-content">
                    <p>
                        A 100% Arabica coffee is a coffee made exclusively from the beans of the Coffea Arabica species. This type of coffee
                        is sought after by those who appreciate the smoother, more aromatic flavor of coffee.
                    </p>
                </div>

                <span>Keep Reading</span>
                
            </div>
        </div>
    </div>
</div>
