<div class="cookie-component" id="cookie">

<div class="Text">
    <h5>Cookies CoffeeStore</h5>

    <p>
        We use essential cookies to make our website work. With your consent, we may also use non-essential cookies to
        improve your user experience and analyze website traffic .
    </p>
</div>

    <div class="cookies-box">
        <button class="cookies-btn" id="acceptBtn" >Accept</button>
        <button class="cookies-btn">Deny</button>
    </div>
    
    <div class="terms-box">
        <a [routerLink]="['/policy-of-privacy']">Policy Terms</a>
        <a [routerLink]="['/policy-of-privacy']">Terms of use</a>
    </div>

</div>
